.maindash{
    z-index: 0;
    width: 100% !important;
    
}
.charts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.map,.pie{
    width: 47%;
    margin-block: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     padding: 10px;
}
.pie h3{
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #7a7a7a;
}
.map h3{
    margin: 0;
   margin-block: 20px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #7a7a7a;
}
@media (max-width: 800px) {
    .charts{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .map,.pie{
        width: 100%;
        height: 500px;
        margin-block: 40px;
        display: flex;
        padding-block:30px;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        align-items: center;
        background-color: #ffffff;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
         border-radius: 5px;
         padding-block: 0px;
         padding-inline: 0px;

    }
    .pie h3{
        margin-top: 0;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        padding: 10px;
        color: #7a7a7a;
    }
    .map h3{
        margin: 0;
       margin-block: 20px;
        font-weight: 500;
        padding: 10px;
        font-size: 20px;
        text-align: left;
        color: #7a7a7a;
    }
  }
  